<!DOCTYPE html>
<html lang="">
  <head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="style.css">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Vite App</title>
  </head>
  <body>
      <div id="app">
        <h1>Deck Settings</h1>
            <form method="post" action="">
                <div>
                  <label for="name">Name: </label>
                  <input v-model="deckName" type="text" name="name" id="name">({{deckName.length}} characters)
                </div>

                <div>
                  <label for="description">description: </label>
                  <textarea v-model="deckDescription" name="description" id="description"></textarea>
                </div>

                <div class="options">

                  <div>
                    <input v-model="options" true-value="on" false-value="off" type="checkbox" value="reverse" id="reverse">
                    <label for="reminders">Include reverse cards</label>
                  </div>
                  <div>
                    <input v-model="options" type="checkbox" value="time_limit" id="time_limit">
                    <label for="reminders">Use time limit</label>
                  </div>
                  <div>
                    <input v-model="options" type="checkbox" value="reminders" id="reminders">
                    <label for="reminders">Enable reminders</label>
                  </div>

                  <div>selected options: <strong>{{options}}</strong></div>
                </div>

                <button type="submit">Create</button>
            </form>
      </div>
    <script src="/data.js"></script>
    <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
    <script>
      const FlashCardApp = {
        data() {
          return {
            deckName: "Vue.js Fundamentals",
            deckDescription: "",
            options: [],
          };
        }
      };
      const app = Vue.createApp(FlashCardApp).mount("#app")

    </script>
  </body>
</html>
